In [89]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Create connection using SQLAlchemy
engine = create_engine("postgresql+psycopg2://postgres:Admin@localhost:1223/postgres")

# Run the same query
df = pd.read_sql_query("SELECT datname FROM pg_database;", engine)

print("âœ… Connected via SQLAlchemy! Databases available:")
print(df)

engine = create_engine("postgresql+psycopg2://postgres:Admin@localhost:1223/demo")

âœ… Connected via SQLAlchemy! Databases available:
     datname
0   postgres
1  template1
2  template0
3       demo

In [90]:
tables = pd.read_sql_query("SELECT table_name FROM information_schema.tables WHERE table_schema='public';", engine)
tables

        table_name
0            sales
1   vendor_invoice
2        purchases
3  purchase_prices
4     vendor_sales

In [91]:
for table in tables['table_name']:
    print('-' * 50)
    print(f"ðŸ“‹ Table: {table}")
    print('-' * 50)
    
    count_query = f'SELECT COUNT(*) AS count FROM public."{table}";'
    count = pd.read_sql_query(count_query, engine)['count'].values[0]
    print(f"Total Rows: {count}\n")
    
    preview_query = f'SELECT * FROM public."{table}" LIMIT 5;'
    display(pd.read_sql_query(preview_query, engine))
    
    print('\n' + '=' * 100 + '\n')

--------------------------------------------------
ðŸ“‹ Table: sales
--------------------------------------------------
Total Rows: 12825363

,inventoryid,store,brand,description,size,salesquantity,salesdollars,salesprice,salesdate,volume,classification,excisetax,vendorno,vendorname
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

====================================================================================================

--------------------------------------------------
ðŸ“‹ Table: vendor_invoice
--------------------------------------------------
Total Rows: 5543

,vendornumber,vendorname,invoicedate,ponumber,podate,paydate,quantity,dollars,freight,approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

====================================================================================================

--------------------------------------------------
ðŸ“‹ Table: purchases
--------------------------------------------------
Total Rows: 2372474

,inventoryid,store,brand,description,size,vendornumber,vendorname,ponumber,podate,receivingdate,invoicedate,paydate,purchaseprice,quantity,dollars,classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

====================================================================================================

--------------------------------------------------
ðŸ“‹ Table: purchase_prices
--------------------------------------------------
Total Rows: 12261

,brand,description,price,size,volume,classification,purchaseprice,vendornumber,vendorname
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

====================================================================================================

--------------------------------------------------
ðŸ“‹ Table: vendor_sales
--------------------------------------------------
Total Rows: 10692

,vendornumber,vendorname,brand,description,purchaseprice,actualprice,volume,totalpurchasequantity,totalpurchasedollars,totalsaledollar,totalsaleprice,totalsalesquantity,totalexcisetax,freightcost,Gross profit,Profitmargin,Stockturnover,SaleToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,5101919.51,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,4819073.49,561512.37,160247.0,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,4538120.60,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,4475972.88,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,4223107.62,545778.28,135838.0,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

====================================================================================================

# ðŸ“Š Data Overview

The **purchases table** contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.

The **purchase price** column is derived from the *purchase_prices* table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.

The **vendor_invoice table** aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.

The **sales table** captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

---

## ðŸ§¾ Summary Table Requirement

As the data required for analysis is distributed across different tables, we need to create a **summary table** containing:

- Purchase transactions made by vendors  
- Sales transaction data  
- Freight costs for each vendor  
- Actual product prices from vendors

In [92]:
tables = pd.read_sql_query("SELECT table_name FROM information_schema.tables WHERE table_schema='public';", engine)
tables

        table_name
0            sales
1   vendor_invoice
2        purchases
3  purchase_prices
4     vendor_sales

In [93]:
sql_query = """
SELECT
    p.vendornumber,
    p.vendorname,
    p.brand,
    p.purchaseprice,
    pp.volume,
    pp.price AS "ActualPrice",
    SUM(p.quantity) AS "Total purchase quantity",
    SUM(p.dollars) AS "Total purchase dollars"
FROM purchases p
JOIN purchase_prices pp
    ON p.brand = pp.brand
WHERE pp.purchaseprice > '0'
GROUP BY
    p.vendornumber,
    p.vendorname,
    p.brand,
    p.purchaseprice,
    pp.volume,
    pp.price
ORDER BY "Total purchase dollars";
"""

df = pd.read_sql_query(sql_query, engine)
df

,vendornumber,vendorname,brand,purchaseprice,volume,ActualPrice,Total purchase quantity,Total purchase dollars
0,2561,EDRINGTON AMERICAS,2166,0.00,750,0.0,2015,0.00
1,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
2,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
3,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
4,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
...,...,...,...,...,...,...,...,...
10688,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10689,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10690,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10691,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10692,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [94]:
abc= """
SELECT
    vendorno,
    brand,
    sum(salesdollars) as totalsaledollar,
    sum(salesprice) as totalsaleprice,
    sum(salesquantity) as totalsalesquantity,
    sum(excisetax) as totalexcisetax
from sales
group by vendorno,brand
order by totalsaledollar """

s = pd.read_sql_query(abc,engine)
s

,vendorno,brand,totalsaledollar,totalsaleprice,totalsalesquantity,totalexcisetax
0,8004,5287,0.98,0.98,2,0.10
1,9206,2773,0.99,0.99,1,0.05
2,3924,9123,1.98,0.99,2,0.10
3,3252,3933,1.98,0.99,2,0.10
4,10050,3623,1.98,1.98,2,0.10
...,...,...,...,...,...,...
11267,3960,3545,4223107.62,545778.28,135838,249587.83
11268,3960,4261,4475972.88,420050.01,200412,368242.80
11269,17035,8068,4538120.60,461140.15,187140,343854.07
11270,4425,3405,4819073.49,561512.37,160247,294438.66
11271,1128,1233,5101919.51,672819.31,142049,260999.20

In [95]:
rcb =("""with freightsummary as (
    SELECT
        vendornumber,
        sum(freight) as freightcost
    from vendor_invoice
    group by vendornumber
),

purchasesummary as (
    select
        p.vendornumber,
        p.vendorname,
        p.brand,
        p.description,
        p.purchaseprice,
        pp.price as ActualPrice,
        pp.volume,
        sum(p.quantity) as totalpurchasequantity,
        sum(p.dollars) as totalpurchasedollars
    from purchases p
    join purchase_prices pp
        on p.brand = pp.brand
    where p.purchaseprice > 0
    group by p.vendornumber,
        p.vendorname,
        p.brand,
        p.description,
        p.purchaseprice,
        pp.price,
        pp.volume
),

salessummary as (
    select
        vendorno,
        brand,
        sum(salesdollars) as totalsaledollar,
        sum(salesprice) as totalsaleprice,
        sum(salesquantity) as totalsalesquantity,
        sum(excisetax) as totalexcisetax
    from sales
    group by vendorno, brand
)

select
    ps.vendornumber,
    ps.vendorname,
    ps.brand,
    ps.description,
    ps.purchaseprice,
    ps.ActualPrice,
    ps.volume,
    ps.totalpurchasequantity,
    ps.totalpurchasedollars,
    ss.totalsaledollar,
    ss.totalsaleprice,
    ss.totalsalesquantity,
    ss.totalexcisetax,
    fs.freightcost
from purchasesummary ps
left join salessummary ss
    on ps.vendornumber = ss.vendorno
    and ps.brand = ss.brand
left join freightsummary fs
    on ps.vendornumber = fs.vendornumber
order by ps.totalpurchasedollars desc""")

vendor_sales_summary =pd.read_sql_query(rcb,engine)
vendor_sales_summary

,vendornumber,vendorname,brand,description,purchaseprice,actualprice,volume,totalpurchasequantity,totalpurchasedollars,totalsaledollar,totalsaleprice,totalsalesquantity,totalexcisetax,freightcost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,5101919.51,672819.31,142049.0,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,4819073.49,561512.37,160247.0,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,4538120.60,461140.15,187140.0,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,4475972.88,420050.01,200412.0,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,4223107.62,545778.28,135838.0,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,15.95,10.96,5.0,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,65.66,1.47,134.0,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,1.98,0.99,2.0,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,143.28,77.61,72.0,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,85.14,33.66,86.0,4.46,38994.78

# ðŸ“ˆ Vendor-wise Sales & Purchase Summary
This query generates a vendor-wise sales and purchase summary, which is valuable for:

Performance Optimization:
The query involves heavy joins and aggregations on large datasets like sales and purchases.

Storing the pre-aggregated results avoids repeated expensive computations.

Helps in analyzing sales, purchases, and pricing for different vendors and brands.

Future Benefits of Storing this data for faster Dashboarding & Reporting.

Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [96]:
vendor_sales_summary.dtypes

vendornumber               int64
vendorname                object
brand                     object
description               object
purchaseprice            float64
actualprice               object
volume                    object
totalpurchasequantity      int64
totalpurchasedollars     float64
totalsaledollar          float64
totalsaleprice           float64
totalsalesquantity       float64
totalexcisetax           float64
freightcost              float64
dtype: object

In [97]:
vendor_sales_summary['description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      shape=(9651,), dtype=object)

In [98]:
vendor_sales_summary['volume'] = vendor_sales_summary['volume'].astype('float64')

In [99]:
vendor_sales_summary.fillna(0, inplace= True)

In [100]:
vendor_sales_summary['vendorname']= vendor_sales_summary['vendorname'].str.strip()

In [101]:
vendor_sales_summary['description']= vendor_sales_summary['description'].str.strip()

In [102]:
vendor_sales_summary['Gross profit'] = vendor_sales_summary['totalsaledollar'] - vendor_sales_summary['totalpurchasedollars']
vendor_sales_summary['Profitmargin'] = vendor_sales_summary['Gross profit'] / vendor_sales_summary['totalsaledollar'] * 100
vendor_sales_summary['Stockturnover'] = vendor_sales_summary['totalsalesquantity'] / vendor_sales_summary['totalpurchasequantity']
vendor_sales_summary['SaleToPurchaseRatio'] = vendor_sales_summary['totalsaledollar'] / vendor_sales_summary['totalpurchasedollars']

In [103]:
from sqlalchemy import create_engine, text

# create connection (make sure your engine is already set up)
engine = create_engine("postgresql+psycopg2://postgres:Admin@localhost:1223/demo")

# create table SQL
create_table_query = """
CREATE TABLE IF NOT EXISTS vendor_sales (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume DECIMAL(15,2),
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
"""

# execute SQL
with engine.connect() as conn:
    conn.execute(text(create_table_query))
    conn.commit()

print("âœ… Table 'vendor_sales' created successfully!")

âœ… Table 'vendor_sales' created successfully!

In [104]:
pd.read_sql_query("select * from vendor_sales", engine)

,vendornumber,vendorname,brand,description,purchaseprice,actualprice,volume,totalpurchasequantity,totalpurchasedollars,totalsaledollar,totalsaleprice,totalsalesquantity,totalexcisetax,freightcost,Gross profit,Profitmargin,Stockturnover,SaleToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,5101919.51,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,4819073.49,561512.37,160247.0,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,4538120.60,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,4475972.88,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,4223107.62,545778.28,135838.0,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,15.95,10.96,5.0,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,65.66,1.47,134.0,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,1.98,0.99,2.0,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,143.28,77.61,72.0,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,85.14,33.66,86.0,4.46,38994.78,84.43,99.166079,86.000000,119.915493

In [105]:
vendor_sales_summary.to_sql('vendor_sales', con=engine, if_exists='replace', index=False)

print("âœ… Data from 'vendor_sales_summary' added to 'vendor_sales' table successfully!")

âœ… Data from 'vendor_sales_summary' added to 'vendor_sales' table successfully!

In [106]:
vendor_performance =pd.read_sql_query("select * from vendor_sales", engine)

In [107]:
pd.read_sql_query("select * from vendor_sales", engine)

,vendornumber,vendorname,brand,description,purchaseprice,actualprice,volume,totalpurchasequantity,totalpurchasedollars,totalsaledollar,totalsaleprice,totalsalesquantity,totalexcisetax,freightcost,Gross profit,Profitmargin,Stockturnover,SaleToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,5101919.51,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,4819073.49,561512.37,160247.0,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,4538120.60,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,4475972.88,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,4223107.62,545778.28,135838.0,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,15.95,10.96,5.0,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,65.66,1.47,134.0,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,1.98,0.99,2.0,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,143.28,77.61,72.0,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,85.14,33.66,86.0,4.46,38994.78,84.43,99.166079,86.000000,119.915493